---
layout: default
title: A propos du site
icon: ☕
description: Description technique
---
<div class="chapeau">
 Ce site est <em>durable</em>.
</div>
<div class="flex flex-col items-end content">
  <div class="flex flex-wrap w-full my-8 text-base md:my-16 md:w-3/4">

    <div class="flex-1 px-4 page-content">

      <p>
        Il consomme très peu d'énergie. Il est environ 97% plus écologique que les autres sites internet. <a href="https://www.websitecarbon.com/" target="_blank" rel="noopener">Voici la preuve</a>. Comment c'est possible ?
      </p>
      <h3>C'est un site Statique</h3>
      <p>
        C'est un site statique propulsé par <a href="https://www.11ty.dev/" target="_blank" rel="noopener">@11enty</a>. Toutes les pages sont générées une fois à l'avance et il n'y a aucun accès à une base de données. Le site est très réactif. L'hébergement est important aussi, pour l'instant on l'a mis chez <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a> avec un plan gratuit, il ne nous coûte donc rien !
      </p>
      <h3>Pas de superflu !</h3>
      <p>
      Bye Bye les vidéos, les galeries photos, les trucs qui bouge dans tous les sens... sur ce site il n'y a même plus d'images, ni même de police de caractère fun... on utilise les options par défaut du navigateur, comme les émojis par exemple.
      </p>
      <h3>Inspiration</h3>
      <p>
        Pour aller plus loin, on peut lire cet article xxx et celui là xxx. On peut tester l'empreinte carbone de son site web avec ce service assez marrant
      </p>
      <h3>Open Source</h3>
      <p>
        Pour les curieux, les sources du site sont disponibles sur github.
      </p>
    </div>
  </div>
</div>
