---
layout: default
title: Contact
permalink: /contact/
icon: ☕
description: "Notre adresse: 13 rue des Vollandes, 1205 Genève"
eleventyNavigation:
 key: contact
 order: 4
---
<div class="chapeau">
  Passez boire un café !
</div>
<div class="flex flex-col items-end content">
  <div class="flex flex-wrap w-full my-8 text-base md:my-16 md:w-3/4">

    <div class="flex-1 px-4">
      <span class="font-sans font-bold tracking-wider uppercase text-secondary ">Adresse</span>
      <div class="my-4 font-serif text-lg">
        13 rue des Vollandes <br>
        1207 Genève<br>
        <a class="text-primary" href="mailto:info@wonderweb.ch">info@wonderweb.ch</a>
        <br>
      </div>
      <span class="font-sans font-bold tracking-wider uppercase text-secondary ">Equipe</span><br>
      <div class="my-4 font-serif text-lg">
        Emmanuel Piguet<br>
        <a class="text-primary" href="tel:+41763396117">+41(0)76 339 61 17</a>
        <br>
        <a class="text-primary" href="mailto:man@wonderweb.ch">man@wonderweb.ch</a>
        <br><br>
        Fabrice Cortat<br>
        <a class="text-primary" href="tel:+41786004031">+41(0)78 600 40 31</a><br>
        <a class="text-primary" href="mailto:fab@wonderweb.ch">fab@wonderweb.ch</a>
      </div>
    </div>
  </div>
</div>
