---
layout: default
title: Contact
icon: ☕
description: Get in touch
eleventyNavigation:
 key: contact
---
<div class="chapeau">
  Passez boire un café !
</div>
<div class="flex flex-col items-end ">
  <div class="flex flex-wrap w-full my-8 text-base md:my-16 md:w-3/4">
    <div class="w-1/6 "> <span class="text-6xl ">📍</span></div>
    <div class="flex-1 px-8">
      <span class="font-sans font-bold tracking-wider uppercase text-secondary ">Adresse</span>
      <div class="my-4 text-lg font-es">
        13 rue des Vollandes <br>
        1207 Genève<br>
        <br>
      </div>
      <span class="font-sans font-bold tracking-wider uppercase text-secondary ">Equipe</span><br>
      <div class="my-4 text-lg font-es">
        Emmanuel Piguet<br>
        +41(0)76 339 61 17<br>
        man@wonderweb.ch<br>
        <br><br>
        Fabrice Cortat<br>
        +41(0)78 600 40 31<br>
        fab@wonderweb.ch<br>
      </div>
    </div>
  </div>
</div>
