---
layout: default
title: Dernières mise en ligne
icon: 🚀
eleventyNavigation:
  key: Réalisations
---

<div class="chapeau">
Alors ici on est plutôt sur du site internet <em>local</em> et de <em>qualité</em>, fait avec passion en suivant l'évolution des technologies.
</div>
{% block contenu %}
<ol class="flex flex-col items-end ">
{% for post in collections.projets %}
    <li class="flex flex-wrap w-full my-8 text-base md:my-16 md:w-3/4">
      <div class="w-1/6 "> <span class="code">{{ post.data.date | readableDate }}</span></div>
      <div class="flex-1 px-8">
       <a href="{{ post.data.url }}" target="_blank"  class="font-sans font-bold tracking-wider uppercase border-b-2 border-solid text-secondary border-secondary">{{ post.data.title }}</a>
      <div class="my-4 text-lg font-es">
      {{ post.data.description }}
      </div>
      </div>

    </li>
{% endfor %}
</ol>
{% endblock %}
