---
title: Gestion de contenu
layout: post
date: 2019-06-03
tags: services
icon: 📝
---
Nous mettons en place des gestionnaires de contenu divers et variés afin de vous laisser toute la liberté d’édition. Changer ses textes et ses images n’a jamais été aussi simple !
Nous maîtrisons principalement WordPress, MODx et d'autres moins connus.
