---
title: Gestion de contenu
layout: post
date: 2019-06-03
tags: services
svg: /icons/helm.svg
icon: 📝
permalink: false
---
Nous mettons en place des gestionnaires de contenu divers et variés afin de vous laisser toute la liberté d’édition. Changer des textes et des images n’a jamais été aussi simple !
Nous maîtrisons principalement WordPress, MODx et d'autres moins connus (Netlify CMS, Storyblok, Prismic, etc.).
