---
title: Gestion de contact
layout: post
date: 2019-06-03
tags: services
icon: 🧑‍🤝‍🧑
permalink: false
---
Depuis 2019, nous aidons les associations à gérer leurs base de données de contacts grâce à un outil open source — CIVICRM — qui facilite le suivi et la communication. Si vous êtes intéressés, nous vous ferons volontiers une démonstration !
