---
title: Support & Maintenance
layout: post
date: 2019-06-06
tags: services
icon: 🔑
permalink: false
---
Nous pouvons mettre en place un système de suivi des mises à jour du site et nous effectuons une sauvegarde externe de vos données pour garantir la pérénnité de vos données. Nous sommes partenaire d’infomaniak qui offre de nombreuses garantie concernant le respect de votre vie privée.
