---
title: Support & Maintenance
layout: post
date: 2019-06-06
tags: services
svg: /icons/umbrella.svg
icon: 🔑
permalink: false
---
Nous pouvons mettre en place un système de mises à jour du site et nous effectuons une sauvegarde externe de vos données pour garantir la pérennité de vos données. Nous sommes également partenaire d’infomaniak qui offre de nombreuses garantie concernant le respect de votre vie privée.
