<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ icon }} {{ title or metadata.title }} - {{metadata.title}}</title>
  <meta charset="UTF-8" />
  <meta name="description" content="{{ description or metadata.description }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <link rel="stylesheet" href="/style.css?v={% version %}" />
  {% block head %}{% endblock %}
</head>

<body data-barba="wrapper">
  <!-- parallax -->
  <div class="body-parallax">
    <div class="container parallax">
      <div class="parallax-group parallax-group--far-left">
        <div class="parallax-item parallax-item--o parallax-item--left" data-rellax-speed="4"></div>
        <div class="parallax-item parallax-item--x parallax-item--left"></div>
        <div class="parallax-item parallax-item--o parallax-item--left"></div>
        <div class="parallax-item parallax-item--x" data-rellax-speed="3"></div>
        <div class="parallax-item parallax-item--x"></div>
        <div class="parallax-item parallax-item--x"></div>
      </div>
      <div class="parallax-group parallax-group--mid-left">
        <div class="parallax-item parallax-item--x" data-rellax-speed="1"></div>
        <div class="parallax-item parallax-item--o"></div>
        <div class="parallax-item parallax-item--x"></div>
      </div>
      <div class="parallax-group parallax-group--mid-right">
        <div class="parallax-item parallax-item--o"></div>
        <div class="parallax-item parallax-item--o"></div>
        <div class="parallax-item parallax-item--o"></div>
      </div>
      <div class="parallax-group parallax-group--far-right">
        <div class="parallax-item parallax-item--x" data-rellax-speed="1"></div>
        <div class="parallax-item parallax-item--x"></div>
        <div class="parallax-item parallax-item--x"></div>
      </div>
    </div>
  </div>
  <!-- end parallax -->
  <header
    class="container relative z-10 flex flex-wrap justify-between mx-auto mt-16 font-bold tracking-wider uppercase nav">
    <div class="w-1/2 px-4 md:w-1/4"><a href="{{ '/' | url }}" class="text-white">Wonderweb</a></div>
    <div class="w-1/2 px-4 md:w-1/4">
      <ul class="">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item"><a href="{{ entry.url | url }}"
            class="{% if entry.url == page.url %} item-active{% endif %}">{{ entry.title }}</a></li>
        {%- endfor %}
      </ul>
    </div>
    <div class="w-1/2 px-4">
    </div>
    </div>
  </header>
  <main class="container relative z-10 mx-auto" data-barba="container" data-barba-namespace="{{ page.fileSlug }}">
    <div class="w-full px-4 mt-8 md:mt-24 md:w-3/4">
      <h1>{{ title | safe }}</h1>
    </div>
    {{ content | safe }}

    <footer class="container relative z-10 flex flex-wrap justify-start mx-auto my-16 font-bold tracking-wider uppercase nav">
      <div class="w-full px-4 md:w-1/4 ">
        <span class="text-ui">© 2010 — 2022</span> <br>

      </div>
      <div class="w-full px-4 md:w-1/4">
        <ul class="">
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item"><a href="{{ entry.url | url }}"
              class="{% if entry.url == page.url %} item-active{% endif %}">{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      </div>
  </footer>
  </main>

  <!-- Current page: {{ page.url | url }} -->
  {# <pre>{{ page | debug }}</pre> #}
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@barba/css"></script>
  <script>
    barba.use(barbaCss);
    barba.init({
   //
  });

  barba.hooks.afterLeave(data => {

    // Update the active menu item classes
    if (data.next.url.path) {
// get the menu element
        let menu = document.querySelector('.nav');

        // select the menu item depending on the next URL (you can do that in many ways)
        let nextItem = menu.querySelector(`a[href="${data.next.url.path}"]`);

        // reset the active menu item and set the next item as "active" (if there is one)
        if (nextItem !== null) {
          menu.querySelector('.item-active').classList.remove('item-active');
          nextItem.classList.add('item-active');
        }
    } });
  </script>
  <script src="/js/rellax.js?v={% version %}"></script>
  <script>
    // Accepts any class name
    var rellax = new Rellax('.parallax-item', {
      speed: 2,
      center: false,
      wrapper: null,
      round: true,
      vertical: true,
      horizontal: false
    });
  </script>
</body>

</html>
