<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ icon }} {{ title or metadata.title }} - {{metadata.title}}</title>
  <meta charset="UTF-8" />
  <meta name="description" content="{{ description or metadata.description }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <link rel="stylesheet" href="/style.css?v={% version %}" />
  {% block head %}{% endblock %}
  <script defer src="/js/alpine.js?v={% version %}"></script>
</head>

<body>
  <!-- parallax -->
  <div class="body-parallax">
    <div class="container parallax">
      <div class="parallax-group parallax-group--far-left">
        <div class="parallax-item parallax-item--o parallax-item--left"></div>
        <div class="parallax-item parallax-item--x parallax-item--left"></div>
        <div class="parallax-item parallax-item--o parallax-item--left"></div>
        <div class="parallax-item parallax-item--x"></div>
        <div class="parallax-item parallax-item--x"></div>
        <div class="parallax-item parallax-item--x"></div>
      </div>
      <div class="parallax-group parallax-group--mid-left">
        <div class="parallax-item parallax-item--x"></div>
        <div class="parallax-item parallax-item--o"></div>
        <div class="parallax-item parallax-item--x"></div>
      </div>
      <div class="parallax-group parallax-group--mid-right">
        <div class="parallax-item parallax-item--o"></div>
        <div class="parallax-item parallax-item--o"></div>
        <div class="parallax-item parallax-item--o"></div>
      </div>
      <div class="parallax-group parallax-group--far-right">
        <div class="parallax-item parallax-item--x"></div>
        <div class="parallax-item parallax-item--x"></div>
        <div class="parallax-item parallax-item--x"></div>
      </div>
    </div>
  </div>
  <!-- end parallax -->

  <header class="container relative z-10 flex flex-wrap justify-between mx-auto mt-16 font-bold tracking-wider uppercase">
    <div class="w-1/4 px-4"><a href="{{ '/' | url }}" class="text-white">Wonderweb</a></div>
    <div class="w-1/4 px-4">
      <ul class="nav">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item"><a href="{{ entry.url | url }}"
            class="{% if entry.url == page.url %} text-white{% endif %}">{{ entry.title }}</a></li>
        {%- endfor %}
      </ul>
    </div>
    <div class="w-1/2 px-4">
      <div id="wcb" class="carbonbadge wcb-d"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
    </div>
  </header>
  <main class="container relative z-10 mx-auto">
    <div class="w-full px-4 mt-8 md:mt-24 md:w-3/4">
      <h1><span class="hidden">{{ title | safe }}</span></h1>
    </div>


     {{ content | safe }}

  </main>
  <!-- Current page: {{ page.url | url }} -->
  {# <pre>{{ page | debug }}</pre> #}
</body>

</html>
