@font-face {
  font-family: 'es_face_book_trialregular';
  src: url('../fonts/esface-book-trial-webfont.woff2') format('woff2'),
       url('../fonts/esface-book-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-fluid {
    font-size: 1vw;
  }
}

::selection {
  @apply text-white bg-secondary;
}

body {
  @apply font-sans text-base text-white bg-primary ;
}

h1 {
  @apply text-5xl font-normal leading-snug font-es text-uidark;
}

.intro {
  @apply text-5xl font-normal leading-snug text-white font-es;
}

a {
  @apply text-ui;
}


.code {
  @apply flex items-center justify-center font-sans text-sm uppercase text-secondary border-secondary;
}
