@font-face {
  font-family: 'es_face_book_trial';
  src: url('../fonts/esface-book-trial-webfont.woff2') format('woff2'),
    url('../fonts/esface-book-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'es_face_book_trial';
  src: url('../fonts/esface-semibold-trial-webfont.woff2') format('woff2'),
    url('../fonts/esface-semibold-trial-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-fluid {
    font-size: 1vw;
  }
}

::selection {
  @apply text-white bg-secondary;
}

body {
  @apply font-sans text-base text-white bg-uidark;
}

h1 {
  @apply text-2xl font-bold leading-snug md:text-4xl font-es text-ui;
}

.chapeau {
  @apply w-full px-4 text-2xl font-bold leading-snug text-white md:text-4xl font-es md:w-3/4;
}

a {
  @apply relative text-secondary;
}

.date {
  @apply text-sm font-bold uppercase text-secondary;
}


a[target="_blank"]:after {
  @apply text-ui;
  content: '\2937';
  margin: 0 3px 0 5px;
  position: absolute;
  top: -0.2em;
  right: -1.5em;
}

.body-parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.parallax {
  position: relative;
  display: flex;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: 0;

}

.parallax-group {
  position: relative;
  display: block;
  height: 100vh;
  width: 33.33333%;


  @apply border-r border-solid md:w-1/3 lg:w-1/4 border-ui;

}

.parallax-group:nth-child(1) {
  @apply border-l border-solid border-ui;
  animation: expand 200ms normal ease-out;
}
.parallax-group:nth-child(2) {
  animation: expand 400ms normal ease-out;
}
